In [2]:
import pandas as pd

In [3]:
#pip install mlxtend

In [4]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [5]:
transaction=[
    ['Milk','Bread'],
    ['Milk','Bread','Beer','Eggs'],
    ['Milk','Butter'],
    ['Milk','Bread','Beer','Diaper'],
    ['Milk','Butter','Beer','Diaper']
]

print (f"we have {len(transaction)} transactions.")
for i, t in enumerate(transaction, 1):
    print (f"transaction {i}:{t}")

we have 5 transactions.
transaction 1:['Milk', 'Bread']
transaction 2:['Milk', 'Bread', 'Beer', 'Eggs']
transaction 3:['Milk', 'Butter']
transaction 4:['Milk', 'Bread', 'Beer', 'Diaper']
transaction 5:['Milk', 'Butter', 'Beer', 'Diaper']

In [6]:
te=TransactionEncoder()
te_matrix = te.fit(transaction).transform(transaction)

df = pd.DataFrame(te_matrix, columns=te.columns_)
df.head(10)

    Beer  Bread  Butter  Diaper   Eggs  Milk
0  False   True   False   False  False  True
1   True   True   False   False   True  True
2  False  False    True   False  False  True
3   True   True   False    True  False  True
4   True  False    True    True  False  True

In [7]:
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
frequent_itemsets

   support       itemsets
0      0.6         (Beer)
1      0.6        (Bread)
2      1.0         (Milk)
3      0.6   (Beer, Milk)
4      0.6  (Bread, Milk)

In [11]:
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.7)
rules_sorted = rules.sort_values(by='lift', ascending=False).reset_index(drop=True)
rules_sorted

c:\Users\Bright\AppData\Local\Programs\Python\Python313\Lib\site-packages\mlxtend\frequent_patterns\association_rules.py:186: RuntimeWarning: invalid value encountered in divide
  cert_metric = np.where(certainty_denom == 0, 0, certainty_num / certainty_denom)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Beer),(Milk),0.6,1.0,0.6,1.0,1.0,1.0,0.0,inf,0.0,0.6,0.0,0.8
1,(Bread),(Milk),0.6,1.0,0.6,1.0,1.0,1.0,0.0,inf,0.0,0.6,0.0,0.8