In [1]:
import pandas as pd

In [8]:
data=pd.read_csv("dataset.csv")
data.head()

   memberNumber        Date   itemDescription
0          1808  21-07-2015    tropical fruit
1          1808  21-07-2015             candy
2          2300  19-09-2015         pip fruit
3          1187  12-12-2015  other vegetables
4          3037  01-02-2015        whole milk

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   memberNumber     38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

In [13]:
data['Year'] = pd.DatetimeIndex(data['Date']).year
data['Month'] = pd.DatetimeIndex(data['Date']).month
data['Day'] = pd.DatetimeIndex(data['Date']).day
data.head()

   memberNumber        Date   itemDescription  Year  Month  Day
0          1808  21-07-2015    tropical fruit  2015      7   21
1          1808  21-07-2015             candy  2015      7   21
2          2300  19-09-2015         pip fruit  2015      9   19
3          1187  12-12-2015  other vegetables  2015     12   12
4          3037  01-02-2015        whole milk  2015      1    2

In [15]:
data.columns

Index(['memberNumber', 'Date', 'itemDescription', 'Year', 'Month', 'Day'], dtype='object')

In [21]:
data.shape

(38765, 6)

In [20]:
data.itemDescription.value_counts().head(10)

itemDescription
whole milk          2502
other vegetables    1898
rolls/buns          1715
soda                1514
yogurt              1334
root vegetables     1071
tropical fruit      1032
bottled water        933
sausage              924
citrus fruit         812
Name: count, dtype: int64

In [22]:
data = pd.get_dummies(data['itemDescription'])
data.head()

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Columns: 167 entries, Instant food products to zwieback
dtypes: bool(167)
memory usage: 6.2 MB

In [31]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori(data, min_support=0.03, use_colnames=True)
frequent_itemsets

    support            itemsets
0  0.048962  (other vegetables)
1  0.044241        (rolls/buns)
2  0.039056              (soda)
3  0.064543        (whole milk)
4  0.034412            (yogurt)

In [32]:
from mlxtend.frequent_patterns import association_rules

In [33]:
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.00001)
rules_sorted = rules.sort_values(by='lift', ascending=False).reset_index(drop=True)
rules_sorted

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, representativity, leverage, conviction, zhangs_metric, jaccard, certainty, kulczynski]
Index: []